In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
labels = ['Gold', 'Experience', "Level"]
myData = [50, 1000, 5]
arr = np.array(myData)
d = {'Gold': 50, 'Experience': 1000, 'Level': 5}

In [5]:
d

{'Gold': 50, 'Experience': 1000, 'Level': 5}

In [6]:
arr

array([  50, 1000,    5])

In [7]:
pd.Series(data = myData)

0      50
1    1000
2       5
dtype: int64

In [8]:
pd.Series(data=myData, index=labels)

Gold            50
Experience    1000
Level            5
dtype: int64

In [9]:
pd.Series(d)

Gold            50
Experience    1000
Level            5
dtype: int64

In [10]:
ser1 = pd.Series([10,20,30,40], ["Justin", "Jimmy", "Mando", "Trent"])

In [12]:
ser1

Justin    10
Jimmy     20
Mando     30
Trent     40
dtype: int64

In [13]:
ser2 = pd.Series([60,70,80,90], ["Justin", "Jimmy", "Trevor", "Raymond"])

In [14]:
ser2['Justin']

60

In [15]:
ser2

Justin     60
Jimmy      70
Trevor     80
Raymond    90
dtype: int64

In [18]:
ser1 * ser2

Jimmy      1400.0
Justin      600.0
Mando         NaN
Raymond       NaN
Trent         NaN
Trevor        NaN
dtype: float64