In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [5]:
randomArray = np.arange(0, 20)

In [6]:
randomArray

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [7]:
randomArray = randomArray.reshape(5,4)

In [8]:
df = pd.DataFrame(randomArray,['A', 'B','C','D','E'], ['W','X','Y','Z'])

In [9]:
df

    W   X   Y   Z
A   0   1   2   3
B   4   5   6   7
C   8   9  10  11
D  12  13  14  15
E  16  17  18  19

In [10]:
df[['W', 'Z']]

    W   Z
A   0   3
B   4   7
C   8  11
D  12  15
E  16  19

In [11]:
df['NEW'] = df['W'] + df['Y']

In [12]:
df

    W   X   Y   Z  NEW
A   0   1   2   3    2
B   4   5   6   7   10
C   8   9  10  11   18
D  12  13  14  15   26
E  16  17  18  19   34

In [13]:
df.loc['A']

W      0
X      1
Y      2
Z      3
NEW    2
Name: A, dtype: int32

In [14]:
df % 3

   W  X  Y  Z  NEW
A  0  1  2  0    2
B  1  2  0  1    1
C  2  0  1  2    0
D  0  1  2  0    2
E  1  2  0  1    1

In [15]:
df

    W   X   Y   Z  NEW
A   0   1   2   3    2
B   4   5   6   7   10
C   8   9  10  11   18
D  12  13  14  15   26
E  16  17  18  19   34

In [17]:
friends = pd.DataFrame(randomArray, index=, ['W','X','Y','Z'])

SyntaxError: positional argument follows keyword argument (<ipython-input-17-9c5f57c09160>, line 1)